<header>
  <div class="mx-auto flex items-center justify-between px-20">
    <a routerLink="/">
      <img
        src="/assets/images/logo-nutriserve.png"
        alt="NutriServe logo"
        width="150"
        height="150"
      />
    </a>
    <nav>
      <ul
        class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-10 items-center"
      >
        <li>
          <a
            class="text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out"
            routerLink="/"
          >
            Home
          </a>
        </li>
        <li>
          <a
            class="text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out"
            routerLink="/about"
          >
            About Us
          </a>
        </li>

        <li>
          <a
            class="text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out"
            routerLink="/meals"
          >
            Meal Plans
          </a>
        </li>
        <li>
          <a
            class="text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out"
            routerLink="/blog"
          >
            Blog
          </a>
        </li>
        <li>
          <a
            class="text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out"
            routerLink="/contact"
          >
            Contact Us
          </a>
        </li>
        <li>
          <div class="card relative cursor-pointer">
            <a routerLink="/checkout">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                strokeWidth="{1.5}"
                stroke="currentColor"
                class="w-8 h-8"
              >
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
                />
              </svg>
              <span
                class="text-white text-center py-[4px] px-2 rounded-full bg-green-600 absolute w-8 h-8 top-[-14px] left-4"
              >
                0
              </span>
            </a>
          </div>
        </li>
        <li>
          <ng-template #showLogin>
            <a
              class="mx-auto cursor-pointer text-center font-bold border m-auto py-2 px-4 text-md text-green-600 border-green-600 rounded-sm mb-4 hover:bg-green-600 hover:text-white"
              routerLink="/login"
              >Sign In</a
            >
          </ng-template>
        </li>

        <li class="flex items-center gap-2" *ngIf="currentUser; else showLogin">
          <p>Hello, {{ currentUser?.user.firstname }}!</p>

          <button
            class="mx-auto cursor-pointer text-center font-bold border m-auto py-2 px-4 text-md text-green-600 border-green-600 rounded-sm hover:bg-green-600 hover:text-white"
            (click)="logout()"
          >
            Logout
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
